%p
  = "Hola #{@user}!"
%p
  = link_to @comment.user.username, user_url(@comment.user, locale: @user.language)
  ha dejado un comentario en la seccion de la reunion para la entrega del regalo
  = link_to @comment.gift.title, gift_url(@comment.gift, anchor: 'meeting', locale: @user.language)
%p
  Chao!
%p
  Be More With Less
