%p
  = "Hey #{@user}!"
%p
  = link_to @wish.user.username, user_url(@wish.user, locale: @user.language)
  wants your gift
  = link_to @wish.gift.title, gift_url(@wish.gift, anchor: 'wishers', locale: @user.language)
%p
  Cheers!
%p
  Regalomía
