%p
  = "Hola #{@user}!"
%p
  Bienvenido a Be More With Less!
%p
  Entrega y recibe regalos para hacer de este mundo un lugar mejor!
%p
  http://bemorewithless.herokuapp.com
%p
  Chao!
%p
  Be More With Less

