- meta title: '¿Como funciona?'

.wrap
  %h1 ¿Como funciona?
  .row
    .span8
      %p
        La idea de esta pagina es simple: Regala y despojate de las cosas que no necesitas, recibe lo que precises sin ningun costo por parte de los demás miembros.
      %p
        Nosotros confiamos en que si comenzamos de a poco a despojarnos de las cosas que ya no necesitamos, llegando a cada uno de ustedes, lograremos formar una comunidad de minimalismo donde aprenderemos y aplicaremos en nuestras formas de vida el compartir sin pedir nada a cambio, donde disminuiremos el consumismo, cuidaremos los recursos del planeta haciendo de este mundo un lugar cada vez mejor.
  .row
    .span8
      %h3 Cómo publicar un regalo?
      %ol
        %li Encuentra un objeto al cual ya no le das uso alguno.
        %li= "Anda a #{link_to 'esta pagina', new_gift_path}".html_safe
        %li Escribe un titulo y describe tu regalo, sube algunas fotos, selecciona una categoria para tu regalo.
        %li Una vez publicado tu regalo, es posible que alguien lo pida, tu recibiras un mail notificando que tienes interesados en tu regalo, desplegando automaticamente el link de la pagina y verlo directamente.
        %li Tu puedes "prometer" el regalo a uno de los interesados, solo haciendo click sobre "prometido" en el cuadro bajo la foto de la persona interesada. Una vez prometido el regalo la persona interesada y tu tendran acceso a una nueva seccion llamada "entrega" donde uds. podran discutir la forma de la entrega de este regalo.
        %li Despues que el regalo ha sido entregado, no olvides cambiar el estado de este a Entregado, así nadie mas tendra acceso a pedirlo nuevamente.
      %h3 Cómo recibir el regalo?
      %ol
        %li Encuentra el regalo que necesitas o quieras.
        %li Asegurate el regalo esta diponible y no fue tomado por otra persona antes.
        %li Dirigete al icono del regalo y haz click sobre "yo quiero el regalo".
        %li El dueño del regalo recibira automaticamente un mail notificando que tu lo quieres.
        %li Luego el dueño del regalo probablemente y dependiendo de la demanda dle regalo, te prometera el regalo.
        %li Si el regalo te es prometido tu recibiras un mail notificando que se te ha cedido y tendras acceso a "entrega del regalo" donde deberan llegar a un acuerdo en al forma para la entrega del regalo.
        %li Cuando has recibido el regalo fisicamente, no olvides dar las gracias a la persona que te entregado el regalo en la seccion "Agradecimientos" escribiendo amablemente tu experiencia!

