- meta title: 'How the site works?'

.wrap
  %h1 How the site works?
  .row
    .span8
      %p
        The idea of the site is simple: give away things you no longer need and receive other items as gifts from people on this site.
      %p
        We believe if thousands of people start giving away stuff instead of throwing it away we, as a community, will consume less and use less resources of our planet and make this world a little bit better.
  .row
    .span8
      %h3 How give away a gift
      %ol
        %li Find something you no longer use.
        %li= "Go to #{link_to 'this page', new_gift_path}".html_safe
        %li Type in title and description of your gift, upload a photo or few, choose the right category for the gift.
        %li After publishing your gift some people might want it. You will get an email notification about that and you can see these people under the "Wishers" section on the gift's page.
        %li You can "promise" your gift to one of the wishers. Simple clicked on the "promised" checkbox underneath the person's photo. After the gift was promised to at least one person you and this person will have access to the new section on the gift's page called "Meeting" where you can discuss where to meet or how to  transfer the gift.
        %li After the gift is given don't forget to change its status to "given" so nobody can wish it any more.
      %h3 How to receive a gift?
      %ol
        %li Find the gift you want.
        %li Make sure it was not given to somebody already.
        %li Go to the gift's page and click on the "I want this gift" button.
        %li The gift owner will receive an email that you want this gift.
        %li Then the gift owner might promise your the gift.
        %li If this happens then you will get an email and access to the new section called "Meeting" where you can discuss where to pick up the gift.
        %li After recieving the gift don't forget to say 'thank you' to the person who gave you the gift! The gift has the section "Thanks" where you can type in a few kind words.


